# Archivos generados por el sistema
.DS_Store

# Dependencias de Node
node_modules/

# Archivos de entorno
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Directorios de construcción
dist/
build/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo